@{
    ViewBag.Title = "Home Page";
}

    <div class="row">

        <div class="horizontalAlign">

            <div class="row buttonMenu" >

                @Html.ActionLink("Voiture", "Index", "Cars", routeValues: null, htmlAttributes: new { id = "carLink", @class = "btn bouton btn-large" })

            </div>
            <div class="row buttonMenu">
                @Html.ActionLink("Commande", "Index", "Orders", routeValues: null, htmlAttributes: new { id = "orderLink", @class = "btn bouton btn-large" })

            </div>
            <div class="row buttonMenu">
                @Html.ActionLink("Vendeur", "Index", "Sellers", routeValues: null, htmlAttributes: new { id = "sellerLink", @class = "btn bouton btn-large" })

            </div>
        </div>


    </div>
