@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Gestion des vendeurs", "IndexSellers", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div class="col-md-4">
        
    </div>
</div>