@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD
<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Gestion des vendeurs", "IndexSellers", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div class="col-md-4">
        
=======
    <div class="row">

        <div class="col-md-4">
        </div>

        <div class="col-md-4">

            <br><br>

            @Html.ActionLink("Voiture", "Index", "Cars", routeValues: null, htmlAttributes: new { id = "carLink", @class = "btn bouton btn-large" })

            <br><br>


            @Html.ActionLink("Commande", "Index", "Orders", routeValues: null, htmlAttributes: new { id = "orderLink", @class = "btn bouton btn-large" })

            <br><br>

            @Html.ActionLink("Vendeur", "Index", "Sellers", routeValues: null, htmlAttributes: new { id = "sellerLink", @class = "btn bouton btn-large" })

            <br><br>

        </div>

        <div class="col-md-4">
        </div>

>>>>>>> 889334f1935efadc1413049ae2d9cc45bf949ec2
    </div>
