body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.green {
    background-color: #558c2f
}

.green-light {
    background-color: #85bc5c
}

.green-dark {
    background-color: #255e00
}

.purple {
    background-color: #280593
}

.purple-light {
    background-color: #5f5fc4
}

.purple-dark {
    background-color: #001064
}

.black {
    color: #000;
}

.blanc {
    color: #fff;
}

.bouton {
    background-color: #280593;
    color: #fff;
    font-size:20px;
 
}

.tailleC{
    height: 500px;
}

.buttonMenu{
    margin-top: 100px;
    text-align: center;
    
}

.horizontalAlign{
    text-align:center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #558c2f;
    height: 100px;
    text-align: center;
}

